h1,
h2,
h3 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}
img {
    flex-direction: row;
    align-self: center;
    width: fit-content;
    height: fit-content;
    margin-top: 40px;
}
body {
    display: flex;
    flex-direction: column;
}